<div class="container">
   <h1 class="text text-danger">Order successfully !</h1>
   <img src="{{ mobile.image }}" width="200" height="200">
   <h3>Product name: {{ mobile.phoneModel }}</h3>
   <h3>Product price: ${{ price }} </h3>
   <h3>Order quantity: {{ quantity }} </h3>
   <h3>Total money: ${{ total }} </h3>

</div>